html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.frame {
    position: relative;
    top: 10px;
    left: 10px;
    width: 1200px;
    height: 600px;
    border: 5px solid #7097be;
}

.viewer {
    font-family: Helvetica;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

.mainPanel {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    width: 100%;
    height: 100%;
    background: #aaa;
    box-sizing: border-box;
    border: 2px solid #333;
    overflow: auto;
}

.sidebar {
    position: relative;
    box-sizing: border-box;
    width: 30px;
    height: 100%;
    background: #79b;
}

.tools {
    padding: 3px;
}

.tools img {
    width: 100%;
}

.tools.active {
    background-color: #eee;
}

.thumbnails {
    position: relative;
    box-sizing: border-box;
    width: 170px;
    height: 100%;
    background: #eee;
    background: #fed;
    padding: 0px;
    overflow: auto;
}

.thumbpanel {
    padding: 0px 10px;
    width: 100%;
    box-sizing: border-box;
}

.thumbnail {
    padding: 10px;
    box-sizing: border-box;
}

.thumbnail:hover {
    background: #9ccdff;
}

.thumbnail img {
    display: block;
    width: 100%;
    box-shadow: 5px 5px 5px #888;
}

.thumbnail .label {
    font-size: 0.7em;
    text-align: center;
    margin-top: 15px;
}

.thumbnail .label span {
    padding: 5px 7px;
    background: #666;
    color: #fff;
    border-radius: 5px;
}

.docPanel {
    position: relative;
    flex: 1;
    -ms-flex: 1;
    flex-direction: column;
    -ms-flex-direction: column;
    display: flex;
    display: -ms-flexbox;
    overflow: auto;
}

.pagePanel {
    flex: 1;
    -ms-flex: 1;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    overflow: auto;
    border-left: 2px solid #333;
}

.pages {
    display: inline-block;
    padding: 0px 15px;
    text-align: center;
    box-sizing: border-box;
}

.page {
    display: block;
    margin: 20px auto;
    box-sizing: border-box;
}

.page svg {
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: 5px 5px 3px #555;
    display: block;
}

.statusBar {
    position: relative;
    font-size: 12px;
    margin: 0;
    padding: 5px;
    text-align: center;
    height: 40px;
    background: #ccc;
    box-sizing: border-box;
    border-left: 2px solid #333;
}

.ctrlPage {
    display: inline-block;
    margin: 0;
    height: 100%;
    font-size: 0;
    word-spacing: -1;
    box-sizing: border-box;
}

.btnPage {
    position: relative;
    display: inline-table;
    padding: 2px 2px;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.btnPage input {
    display: block;
    height: 100%;
    max-width: 80px;
    text-align: center;
    box-sizing: border-box;
}

.btnPage.prev,
.btnPage.next {
    display: inline-block;
    margin: 0;
    width: 30px;
    height: 100%;
    box-sizing: border-box;
}

.btnPage img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.prev:hover,
.next:hover {
    border: 1px solid #777;
}

.prev:active,
.next:active {
    background-color: #ddd;
}

.ctrlZoom {
    position: absolute;
    display: table;
    height: 100%;
    top: 0;
    right: 0;
    padding: 4px 0;
    margin-right: 5px;
    box-sizing: border-box;
    vertical-align: middle;
}

.btnZoom {
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.btnZoom.zoomOut,
.btnZoom.zoomIn {
    width: 24px;
}

.btnZoom img {
    padding: 0 3px;
    width: 100%;
    box-sizing: border-box;
}

#zoom {
    margin: 0 10px;
}

.btnZoom.zoomOut:hover,
.btnZoom.zoomIn:hover {
    cursor: default;
    border-color: #777;
}

.btnZoom:active {
    background: #ddd;
}