.viewerPanel {
    position: absolute;
    display: flex;
    display: -ms-flexbox;
    font-family: Helvetica;
    width: 100%;
    height: 100%;
    background: #aaa;
    box-sizing: border-box;
    overflow: auto;
}

.sidebar {
    box-sizing: border-box;
    height: 100%;
    background: #79b;
}

.options {
    float: left;
    width: 30px;
    box-sizing: border-box;
}

.option {
    padding: 3px;
}

.option img {
    width: 100%;
}

.option.active {
    background-color: #eee;
}

.thumbnails {
    float: left;
    width: 170px;
    height: 100%;
    padding: 0px;
    background: #eee;
    box-sizing: border-box;
    overflow: auto;
    /*    background: #fed;*/
}

.thumbpanel {
    padding: 0px 10px;
    width: 100%;
    box-sizing: border-box;
}

.thumbnail {
    padding: 10px;
    box-sizing: border-box;
}

.thumbnail:hover {
    background: #9ccdff;
}

.thumbnail img {
    display: block;
    width: 100%;
    box-shadow: 3px 3px 3px #888;
}

.thumbnail .label {
    font-size: 0.7em;
    text-align: center;
    margin-top: 10px;
}

.thumbnail .label span {
    padding: 5px 7px;
    background: #666;
    color: #fff;
    border-radius: 5px;
}

.docPanel {
    flex: 1;
    -ms-flex: 1;
    flex-direction: column;
    -ms-flex-direction: column;
    display: flex;
    display: -ms-flexbox;
    overflow: auto;
}

.pagePanel {
    flex: 1;
    -ms-flex: 1;
    text-align: center;
    box-sizing: border-box;
    overflow: auto;
    border-left: 2px solid #333;
}

.pages {
    display: inline-block;
    padding: 0px 15px;
    text-align: center;
    box-sizing: border-box;
}

.page {
    display: block;
    margin: 20px auto;
    box-sizing: border-box;
}

.page svg {
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: 5px 5px 3px #555;
    display: block;
}

.statusBar {
    display: flex;
    display: -ms-flexbox;
    margin: 0;
    padding: 3px 0;
    text-align: center;
    height: 30px;
    background: #ccc;
    box-sizing: border-box;
    border-left: 2px solid #333;
}

.ctrlPage {
    flex: 1;
    -ms-flex: 1;
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    -ms-flex-pack: center;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

.btnPage {
    height: 100%;
    box-sizing: border-box;
    border: 1px solid transparent;
}

#currPage {
    text-overflow: ellipsis;
    text-align: center;
    max-width: 100px;
    vertical-align: middle;
    box-sizing: border-box;
}

.btnPage img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.prev:hover,
.next:hover {
    border: 1px solid #777;
}

.prev img:active,
.next img:active {
    background-color: #ddd;
}

.ctrlZoom {
    position: relative;
    height: 100%;
    margin-right: 5px;
    box-sizing: border-box;
}

.btnZoom {
    float: left;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.btnZoom img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.txtZoom {
    display: table;
    float: left;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid transparent;
}

#zoom {
    display: table-cell;
    vertical-align: middle;
    min-width: 50px;
    height: 100%;
    font-size: 14px;
    margin: 0 5px;
    box-sizing: border-box;
}

.btnZoom:hover,
.txtZoom:hover {
    cursor: default;
    border-color: #777;
}

.btnZoom:active,
.txtZoom:active {
    background: #ddd;
}